body {
  font-family: var(--resume-font);
  background-color: var(--main-bg-color);
}

.app{
  display: grid;
  grid-template-columns: 1fr 2.3fr;
  min-height: 100vh;
  gap: var(--spacing-xl);
  padding: var(--spacing-md);
}

.preview{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.editor {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.btnGroup{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--form-bg-color);
  color: var(--form-text-color);
  border-radius: var(--radius-md);

  padding: var(--spacing-md);
}

.clearBtn{
  color: var(--del-btn-color);
  font-weight: 700;
  font-size: var(--font-sm);

  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.loadBtn{
  font-weight: 700;
  font-size: var(--font-sm);
  background-color: var(--main-bg-color);
  padding: var(--spacing-xs) var(--spacing-lg);
  border-radius: var(--radius-sm);

  font-weight: 700;
  font-size: var(--font-sm);

}